.nav-sidebar {
  position: fixed;
  z-index: $z-nav-sidebar;
  background-color: $white;
  border-right: 1px solid $border-color;
  width: $nav-sidebar-width;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;

  // Add an icon after links to external pages
  a[target="_blank"]:after {
    content: url(~assets/images/icons/external-link.svg);
    margin: 0 $gl-spacing-2 0 $gl-spacing-2;
  }

  ul {
    margin: 0;
    padding: $gl-spacing-3 0 $gl-spacing-3 0;
    border-top: $border-width solid $border-color;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .nav-sidebar__header-anchor {
    display: flex;
    align-items: center;
    color: $gitlab-logo-grey;
    font-size: 16px;
    padding: $gl-spacing-5;

    &:hover {
      background-color: $black-o-06;
      text-decoration: none;
    }
  }

  .nav-sidebar__section {
    .nav-sidebar__section-title,
    .nav-sidebar__section-summary {
      cursor: pointer;
      padding: $gl-spacing-3 $gl-spacing-5;

      &.nav-sidebar--indent-1 {
        padding: $gl-spacing-3 $gl-spacing-6;
      }

      &:hover {
        background-color: $black-o-06;
      }

      a {
        display: flex;
        color: $gray-900;
        text-decoration: none;
      }
    }

    .nav-sidebar__section-summary {
      &:after {
        border-style: solid;
        border-width: 0.15em 0.15em 0 0;
        content: '';
        display: block;
        height: 0.45em;
        float: right;
        width: 0.45em;
        transform: rotate(135deg) translate(0.4em, 0px);
        border-color: $gray-400;
      }
    }

    .nav-sidebar__section-title {
      font-weight: $font-weight--bold;
      display: block;

      &:hover {
        background-color: transparent;
        cursor: auto;
      }
    }

    .nav-sidebar__section-items {
      @include unstyled-list;
    }
  }

  details[open] {
    background-color: $black-o-04;

    .nav-sidebar__section-summary {
      background-color: $black-o-06;

      &:after {
        transform: rotate(-45deg) translate(-0.4em, 0px);
      }

      .nuxt-link-active {
        font-weight: $font-weight--bold;
      }
    }
  }

  .nav-sidebar__section-items-anchor {
    cursor: pointer;
    display: flex;
    color: $gray-900;
    padding: $gl-spacing-3 $gl-spacing-5;

    &.nav-sidebar--indent-1 {
      padding: $gl-spacing-3 $gl-spacing-6;
    }

    &.nav-sidebar--indent-2 {
      padding: $gl-spacing-3 $gl-spacing-7;
    }

    &.nuxt-link-active {
      box-shadow: inset ($border-width * 4) 0 0 $gray-700;
      background: $black-o-04;
    }

    &:hover {
      background-color: $black-o-06;
      text-decoration: none;
    }
  }
}

// Hides summary arrow //
details > summary:first-of-type {
  list-style-type: none;
}

// Hides summary arrow on chrome //
summary {
  &::-webkit-details-marker {
    display: none;
  }
}
